.container {
	width:100%;
	height:100vh;
	background: #000;
}
.ani {
	width:100%;
	height: 100%;
	position: fixed;
	left:0;
	top:0;
	opacity: 0.1;
	background: url('../../public/main/main_1.gif') no-repeat center / cover;
	z-index: 0;
}

.ani img {
	width: 100%;
	height:100%;
	object-fit: cover;
	object-position: center;
}

.content {
	width:100%;
	height:100%;
	padding-left:12.5rem;
	display:flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap:20px;
	color:#fff;
	position: relative;
	z-index: 1;
}

h2 {
	margin:0;
	font-weight: 700;
}
.motion {
	position: relative;
	width:100%;
	height:2%;
}

.motion span {
	position: absolute;
	left: 0;
	top:-20px;
	transform: translateY(20px);
	display:block;
	opacity: 0;
	animation: fadeInUp 6s ease-out infinite;
	text-wrap: nowrap;
}

.motion span:nth-child(1) {
	animation-delay: 0s;
}

.motion span:nth-child(2) {
	animation-delay: 2s;
}

.motion span:nth-child(3) {
	animation-delay: 4s;
}

@keyframes fadeInUp {
	0% { opacity: 0; transform: translateY(20px); }
	10% { opacity: 1; transform: translateY(0); }
	30% { opacity: 1; transform: translateY(0); }
	40% { opacity: 0; transform: translateY(-10px); }
	100% { opacity: 0; transform: translateY(-10px); }
}

@keyframes tabletfadeInUp {
	0% { opacity: 0; transform: translate(-50% ,20px); }
	10% { opacity: 1; transform: translate(-50% ,0); }
	30% { opacity: 1; transform: translate(-50% ,0); }
	40% { opacity: 0; transform: translate(-50% ,-10px); }
	100% { opacity: 0; transform: translate(-50% ,-10px); }
}


.fs48 {font-size: 48px !important;}
.fs40 {font-size: 40px !important;}
.fs32 {font-size: 32px !important;}
.fs24 {font-size: 24px !important;}
.fs20 {font-size: 20px !important;}
.fs16 {font-size: 16px !important;}

@media (max-width: 1023px) {
    .fs48 {font-size: 32px !important;}
    .fs40 {font-size: 28px !important;}
    .fs32 {font-size: 24px !important;}
    .fs24 {font-size: 20px !important;}
    .fs20 {font-size: 18px !important;}
    .fs16 {font-size: 15px !important;}

	.content {
		align-items: center;
		padding:0;
	}

	.motion span {
		left: 50%;
		transform: translateX(-50%);
		animation: tabletfadeInUp 6s ease-out infinite;
	}
}
@media (max-width: 767px) {
    .fs48 {font-size: 24px !important;}
    .fs40 {font-size: 22px !important;}
    .fs32 {font-size: 19px !important;}
    .fs24 {font-size: 16px !important;}
    .fs20 {font-size: 15px !important;}
    .fs16 {font-size: 14px !important;}
}