
:root {
	--main-color: #3062AE;
	--point-color:#02D3C9;
	--sub-color:#414141
}
h1,h2,h3 {margin:0 !important;}
ul, li, ol {list-style: none;}
a {text-decoration: none !important;}
body {color:#000 !important; font-size: 16px;}

h3 {
	font-weight: 600 !important;
}

.loading {
	display:flex;
	align-items: center;
	justify-content: center;
	width:100%;
	height:100%;
	background-color: #263038;
}
.loader {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: inline-block;
	border-top: 4px solid #FFF;
	border-right: 4px solid transparent;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}
.loader::after {
	content: '';  
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border-left: 4px solid #FF3D00;
	border-bottom: 4px solid transparent;
	animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
} 

body .fs48 {font-size: 48px !important;}
body .fs40 {font-size: 40px !important;}
body .fs32 {font-size: 32px !important;}
body .fs24 {font-size: 24px !important;}
body .fs20 {font-size: 20px !important;}
body .fs16 {font-size: 16px !important;}

@media (max-width: 1023px) {
	body .fs48 {font-size: 32px !important;}
	body .fs40 {font-size: 28px !important;}
	body .fs32 {font-size: 24px !important;}
	body .fs24 {font-size: 20px !important;}
	body .fs20 {font-size: 18px !important;}
	body .fs16 {font-size: 15px !important;}
}
@media (max-width: 767px) {
	body .fs48 {font-size: 24px !important;}
	body .fs40 {font-size: 22px !important;}
	body .fs32 {font-size: 19px !important;}
	body .fs24 {font-size: 16px !important;}
	body .fs20 {font-size: 15px !important;}
	body .fs16 {font-size: 14px !important;}
}